<div class="car-image_container">

    <div class="car-image_image">

        <img src="https://image.api.playstation.com/pr/bam-art/192/255/1cde1857-4555-450e-817f-924c7e31f54f.png?w=1920&thumb=false" 
        alt="Imagem de destaque">

    </div>

    <div class="car-image-content">

        <div class="car-image-content_info">

            <h3>
                Fall Savings
            </h3>
    
            <p> 
                Discover huge discounts on games, add-ons and more
            </p>

        </div>

        <div class="car-image-content-buttonAction">
            <button> Save Now </button>
        </div>
       

    </div>

</div>
