 <div class="container">

 

<div class="card-image-destaque">
     
     <app-car-image> </app-car-image>

</div>

<div class="container__home">


    <app-cards gameCover="https://image.api.playstation.com/pr/bam-art/179/741/acd823c7-aedf-41a6-ab02-c159d6d94fa7.jpg?w=440&thumb=false"
    label="Exclusive" gameType="Digital PS4" gamePrice="USD 259,43">
         </app-cards>

    <app-cards gameCover="https://image.api.playstation.com/pr/bam-art/176/978/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.jpg?w=440&thumb=false"
    label="Latest Version" gameType="XBOX Digital" gamePrice="USD 300,783">
         </app-cards>

    <app-cards gameCover="https://image.api.playstation.com/pr/bam-art/186/136/1f189d26-6651-4915-8881-d9480ca83ce4.jpg?w=440&thumb=false"
    label="New" gameType="XBOX and PS5 Digital" gamePrice="USD 700,590">
         </app-cards>

    <app-cards gameCover="https://image.api.playstation.com/pr/bam-art/179/712/954ceda1-c86c-42cc-bd63-28d8e294252e.jpg?w=440&thumb=false"
    label="Most Selled" gameType="PS5 Digital" gamePrice="USD 450,123">
         </app-cards>
    <app-cards gameCover="https://image.api.playstation.com/pr/bam-art/170/756/f86d9650-c513-477a-b149-a9eaee3169a4.jpg?w=440&thumb=false"
    label="Most played" gameType="PS3 Digital" gamePrice="USD 100,783">
         </app-cards>

    <app-cards gameCover="https://image.api.playstation.com/pr/bam-art/174/047/8a28b094-4d8b-4854-a841-e54d59c6fdb0.jpg?w=440&thumb=false"
    label="Most played" gameType="PS3 Digital" gamePrice="USD 100,783">
         </app-cards>

    
</div>

<div class="card-carrossel_title">


     <h2 >Top 10 games in your country </h2>

 </div>

<div class="card-carrossel">


     <app-card-carrossel gameCarrosselImage="https://image.api.playstation.com/vulcan/ap/rnd/202406/0521/e8ef2a542e532c17d91215173917798c5dbca0e8f5b0fc9c.png?w=440&thumb=false"
     gameCarrosselDescription="NBA 2k25"> 

     </app-card-carrossel>

     <app-card-carrossel gameCarrosselImage="https://image.api.playstation.com/vulcan/ap/rnd/202311/2801/803e41fee0edf8f8ed1de518e6eac60ddf30ac485b9a16a2.png?w=440&thumb=false"
     gameCarrosselDescription="Fortnit"> 

     </app-card-carrossel>
     
     <app-card-carrossel gameCarrosselImage="https://image.api.playstation.com/vulcan/ap/rnd/202405/2306/e940c07107a4cefbbedbbd53451e26f0dbf292dcfab6c307.png?w=440&thumb=false"
     gameCarrosselDescription="DRAGON BALL: Sparking! ZERO"> 

     </app-card-carrossel>

</div>

<div class="footer">

     <app-footer> </app-footer>

</div>

</div>