<div class="Menu_container">

    <div class="menu_logo">

        <img src="https://th.bing.com/th/id/R.cf529e136d73554cfaac14b93100f43f?rik=DqW5nAb%2fksTsXA&pid=ImgRaw&r=0" 
        alt="Logo"  width= 200px;
        height=40px;>

    </div>

    <div class="menu_item">

        <ul>
            <li><a href="">Latest</a></li>
            <li><a href="">Collections</a></li>
            <li><a href="">Deals</a></li>
            <li><a href="">Subscribe</a></li>
            <li><a href="">Browse</a></li>
        </ul>

    </div>

</div>
